*{
  box-sizing: border-box;
}


body {
  background-color: #212121;
  transition: all 0.6s;
  -webkit-transition:  all 0.6s;
  -moz-transition: all 0.6s;
}
h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

.color {
  margin: 0 auto;
  max-width: 500px;
}

img {
  border-radius: 1rem;
  max-width: 50rem;
  width: 30%;
  padding-top: 30%;
  margin-left: 2%;
  transition: all 0.6s;
  -webkit-transition:  all 0.6s;
  -moz-transition: all 0.6s;

}

.footer {
  text-align: center;
  margin-top: 1rem;
}

button {
  background-color: #E8E8E8;
  border-radius: 1rem;
  padding: 0.4rem;
}
